// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #f2f2f2;
}
.site-wrap {
    margin: auto;
    max-width: 750px;

    @media only screen and (max-width: 750px) {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }
}
.inner-wrap {
    margin-top: 50px;
    .row {
        .fname {
            font-weight: 600;
            margin-bottom: 10px;

            span {
                color: red;
            }
        }

        input, textarea, select {
            width: 100%;
            background-color: #cecece;
            border: none;
            outline: none;
            padding: 5px;
            margin-bottom: 20px;
        }

        button {
            background-color: #080808;
            color: #fff;
            border: none;
            outline: none;
            padding: 5px;
        }
    }
}
